@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  font-family: var(--font-roboto);
}

section {
  padding: 2rem 0;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
  padding: 1rem;
  width: 100%;
}

#intro-section {
  background-image: linear-gradient(180deg, rgba(255,255,255,0) 70%, rgba(255,255,255,1) 100%), url(./spiderman-no-way-home-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 25%;
  padding: 4rem 0;
}

#intro-section .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#intro-section h1 {
  color: #ffffff;
  font-family: var(--font-raleway);
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 1rem;
  text-align: center
}

#intro-section h2 {
  color: #ffffff;
  font-family: var(--font-raleway);
  font-weight: 500;
  line-height: 2rem;
  text-align: center
}

/** search **/

.search {
  width: 70%;
  margin: 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  border-radius: 3rem;
  background: #ffffff;
  border: 3px solid rgba(0,0,0,0.9);
}

.search input {
  flex: 1;
  border: none;
  font-size: 1.3rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;
  outline: none;
  color: #a1a1a1;
  background: #ffffff;
}

.search img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

/** movie **/

#movie-section .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.movie {
  width: 200px;
  margin: 0 1.5rem 1.5rem 1.5rem;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.movie div:nth-of-type(1) {
  position: absolute;
  padding: 10px;
  width: 100%;
  /* opacity: 0; */
  top: 2%;
  color: #ffffff;
  background-color: green;
  width: 40px;
  height: 40px;
  border-radius: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  right: 2%;
}

.movie:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.movie div:nth-of-type(2) {
  width: 100%;
  height: 100%;
}

.movie div:nth-of-type(2) img {
  height: 100%;
  width: 100%;
}

.movie div:nth-of-type(3) {
  z-index: 2;
  background-color: #343739;
  padding: 16px 24px 24px 24px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.movie:hover div:nth-of-type(3) {
  opacity: 0;
}

.movie div:nth-of-type(3) span {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #f0f0f0;
}

.movie:hover div:nth-of-type(3) span {
  color: #212426;
}

.movie div:nth-of-type(3) h3 {
  margin-top: 5px;
  font-family: var(--font-raleway);
  color: #ffffff;
}

.movie:hover div:nth-of-type(3) h3 {
  color: #212426;
}

.movie:hover div:nth-of-type(2) {
  height: 100%;
  /* opacity: 0.3; */
}

.movie:hover div:nth-of-type(3) {
  background-color: transparent;
}

.movie:hover div:nth-of-type(1) {
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 1rem 1.8rem;
  }
  #intro-section h1 {
      color: #ffffff;
      font-size: 2.3rem;
  }
  #intro-section h2 {
    font-size: 1rem;
  }
  .search {
    width: 100%;
  }
  .movie {
    width: 100%;
  }
}